.active {
	background-color: rgba(99, 55, 158, 0.50);
	border-collapse: collapse;
}

img {
	transition: transform 0.75s;
	transition-timing-function: ease-in-out;
}

body {
	background-image: url("./src/assets/blackTable.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.boardBorder {
	width: 650px;
	height: 650px;
	padding-top: 25px;
	background-image: url("./src/assets/redmahogany.jpg");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.board {
	width: 600px;
	height: 600px;
	border-radius: 2px;
	background-image: url("./src/assets/whitetiles.jpg");
	position: flex;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table tr td img{
	table-layout: fixed;
	height: 70px;
	width: 70px;
}

td:hover :not(img) {
	background-color: rgba(169, 141, 206, 0.25);
}

  table .row:nth-child(odd) .column:nth-child(even) {
	background-image: url("./src/assets/darktiles.jpg");
    background-repeat: no-repeat;
  }
  table .row:nth-child(even) .column:nth-child(odd) {
	background-image: url("./src/assets/darktiles.jpg");
    background-repeat: no-repeat;
  }

